*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
  font-family: "Minion Pro";
  src: url(fonts/Minion Pro Regular.ttf);
}

body.homepage {
  background-color: #000000;
  font-family: Minion Pro, "Times New Roman", Times, serif;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}

h1.company {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: lighter;
  font-variant: small-caps;
}

span.bullet {
  font-size: 18px;
}

h2.project-name {
  color: #ffffff;
  text-shadow: 1px 1px 3px #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

h4.project-location {
  color: #ffffff;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-shadow: 1px 1px 3px #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

ul.nav-list {
  list-style-type: none;
  font-variant: small-caps;
}

a {
  color: #1a1a1a;
  text-decoration: none;
}

div.featured-project, div.featured-press {
  font-variant: small-caps;
}

.nav-container {
  background-color: #fffeff;
}

p {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

@media only screen and (max-width: 600px) {

  body {
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
  }

  div.nav-container {
    margin: 0 20px 20px 20px;
    padding: 18px 0 0 0;
  }

  h1.company {
    margin: 0 0 5px 20px;
    padding: 0;
  }

  ul.nav-list {
    background-color: #f4f4f4;
    width: 100%;
    margin: 0;
    padding: 8px 0;
  }

  ul.nav-list li {
    display: inline;
  }

  li.studio {
    margin-left: 20px;
  }

  li.studio, li.projects, li.press, li.monograph, li.contact {
    margin-right: 5px;
  }

  h2.project-name {
    margin-left: 20px;
  }

  h4.project-location {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  div.project {
    padding: 0;
    margin: 20px 20px 0 20px;
  }

  img.project-img {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  div.featured-project {
    background-color: rgba(255, 255, 255, 0.95);
    margin: 0 20px 20px 20px;
    padding: 10px 0 10px 10px;
    width: auto;
    position: static;
  }

  div.featured-press {
    background-color: rgba(255, 255, 255, 0.95);
    margin: 0 20px 20px 20px;
    padding: 10px 0 10px 10px;
    width: auto;
  }

  div.about {
    background-color: rgba(255, 255, 255, 0.95);
    margin: 40px 20px 20px 20px;
    padding: 5px 50px 5px 30px;
    line-height: 26px;
  }

  p.about-aw {
    margin: 15px 0;
    padding: 0;
  }

  div.featured-project, div.featured-press {
    padding-left: 25px;
    padding-right: 20px;
    position: relative;
  }

  span.caret {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  a.features {
    font-size: 17px;
  }

  br.break {
    display: none;
  }

  .aw-icon-badge {
    display: none;
  }

}

@media only screen and (min-width: 601px) {

  body.homepage {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  div.project {
    left: 0;
    top: 0;
    height: 70%;
    position: fixed;
    z-index: -10000;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  div.nav-container {
    margin: 50px 0 0 50px;
    padding: 10px 10px 20px 18px;
    width: 170px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.90);
    position: fixed;
  }

  h1.company {
    margin: 10px 0 5px 0;
    padding: 0;
  }

  ul.nav-list {
    margin: 0;
    padding: 0;
  }

  a.nav-hover:hover {
    color: green;
  }

  h2.project-name {
    position: absolute;
    bottom: 38%;
    left: 50px;
  }

  h4.project-location {
    position: absolute;
    bottom: 36%;
    left: 50px;
  }

  div.project {
    position: relative;
    display: block;
    width: auto;
    height: 70vh;
  }

  img.project-img {
    position: relative;
    display: block;
    width: auto;
    height: 70vh;
    left: -20%;
    margin: 0;
    padding: 0;
  }

  div.featured-project {
    display: none;
  }

  div.secondary-content {
    width: 100%;
    position: absolute;
    height: 30%;
    min-height: 250px;
    top: auto;
    left: 0;
    bottom: 0;
    border-top: 12px solid #ffffff;
    background-color: #090809;
  }

  div.featured-press {
    height: 100%;
    width: 48%;
    border-right: 12px solid #ffffff;
    background-color: #051901;
    text-align: center;
    padding: 0 20px;
  }

  a.features {
    color: #dedede;
    position: relative;
    top: 130px;
  }

  span.disappear {
    display: none;
  }

  span.font-fam-change {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    letter-spacing: 1px;
  }

  span.resize {
    font-size: 30px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  div.about {
    color: #dedede;
    font-size: 14px;
    line-height: 23px;
    padding-left: 6%;
    padding-right: 4%;
    padding-top: 3%;
    position: absolute;
    bottom: 33%;
    left: 50%;
    width: 50%;
  }

}

@media only screen and (min-width: 1050px) {

  div.project {
    position: relative;
    display: block;
    width: auto;
    height: 100vh;
  }

  img.project-img {
    position: relative;
    display: block;
    width: auto;
    height: 100vh;
    left: -20%;
    margin: 0;
    padding: 0;
  }

  h2.project-name {
    position: absolute;
    bottom: 6%;
    left: 50px;
  }

  h4.project-location {
    position: absolute;
    bottom: 4.75%;
    left: 50px;
  }

  div.secondary-content {
    width: 27%;
    position: absolute;
    height: 100%;
    min-height: 230px;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 12px solid #ffffff;
    border-top: none;
    background-color: #090809;
  }

  div.featured-press {
    height: 50%;
    width: 100%;
    border-bottom: 12px solid #ffffff;
    border-right: none;
    background-color: #051901;
    text-align: center;
    padding: 100px 20px;
  }

  div.about {
    color: #dedede;
    font-size: 14px;
    line-height: 23px;
    padding-left: 6%;
    padding-right: 4%;
    padding-top: 3%;
    position: absolute;
    bottom: 27%;
    left: 10%;
    width: 75%;
  }

}

@media only screen and (min-width: 1850px) {

  img.project-img {
    position: relative;
    display: block;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
  }

}
